.c-tendency-modal {
  position: fixed;
  width: inherit;
  top: 12%;
  z-index: 3;
  background-color: white;
  border: 1px solid black;
  max-width: 1240px;
  width: calc(100vw - $o-container__gutter-single * 2);
  padding: 30px 10px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.65);
  font-family: $font--primary;

  &__id {
    //display: none;
    font-size: 12px;
  }

  .o-container {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
  }

  &--hidden {
    display: none;
  }

  h2 {
    margin: 0;
    margin-bottom: $gap-sm;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: $gap-sm;

    label {
      @include form-description;
      color: #333;
      margin: 0;
    }

    input {
      //only border bottom
      border: none;
      border-bottom: 1px solid black;
      padding: 10px 0;
      color: black;

      border-radius: 3px;
      font-family: $font--primary;
      font-weight: 400;
      @include fluid-type($sm, $xl, 18px, 20px);
    }

    &--checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: $gap-md;
      @include form-description;
      @include fluid-type($sm, $xl, 18px, 20px);
      margin-bottom: 0;

      p {
        margin: 0;
      }

      input {
        width: 20px;
        height: 20px;
        border: 1px solid black;
        border-radius: 3px;
      }
    }
  }

  &__group {
    //display grid 3 elements
    position: relative;
    display: flex;
    justify-content: space-between;

    .c-tendency-modal__form-field {
      max-width: 45%;
    }
  }
}

.c-tendency-modal__bg {
  position: fixed;
  z-index: 2;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.35);

  &--hidden {
    display: none;
  }
}
