.c-tendency-modal {
  position: fixed;
  width: inherit;
  z-index: 3;
  background-color: white;
  border: 1px solid black;
  max-width: 1240px;
  width: calc(100vw - $o-container__gutter-single * 2);
  padding: 40px 20px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.65);
  font-family: $font--primary;

  &--hidden {
    display: none;
  }

  h2 {
    margin: 0;
    margin-bottom: $gap-md;
  }

  &__form-field {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.c-tendency-modal__bg {
  position: fixed;
  z-index: 2;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.35);

  &--hidden {
    display: none;
  }
}
