.c-tendency {
  color: white;

  //transition the scale of the component
  transition: transform 0.2s;

  &__main {
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    &-title {
      @include tendency_title;
      width: 80%;
      margin: 0;
    }
  }

  &--positive {
    .c-tendency__main {
      background-color: $positive-color !important;
    }

    .c-tendency__description-cost {
      color: $positive-color !important;
    }
  }

  &--negative {
    .c-tendency__main {
      background-color: $negative-color !important;
    }

    .c-tendency__description-cost {
      color: $negative-color !important;
    }
  }

  &--pressed {
    transform: scale(0.9);
  }

  &--disabled {
    .c-tendency__main {
      &-title {
        pointer-events: none;
      }
      opacity: 0.7;
    }

    .c-tendency__description {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  &:hover {
    //change pointer
    cursor: pointer;
  }

  &__description {
    background-color: $dark-gray;
    padding: 6px 10px;
    &-cost {
      @include tendency_cost;
      margin: 0;
    }
  }
}

.tendency-container {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  margin-bottom: $gap-lg;
  padding-bottom: $gap-xl;

  transition: transform 0.2s;

  &--entering {
    transform: translateX(-120%);
  }
}
