.App-header {
  background-color: $darker-gray;
  padding: 5px 20px !important;
  color: white;
  margin-bottom: $gap-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;

  h1 {
    margin: 0;
  }
}
